*.pyc
/.DS_Store
.vscode/settings.json
.vscode/launch.json
.idea/iFlyNet_MW.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
try.png
/fbf-vlm/files
